.head{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 30px ; 
    color: aqua;
    background: linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FBD07C", endColorstr="#F7F779", GradientType=1 );
}

h1
{
color:black;
}

.header-right
{
    display:flex ; 
    flex-direction:row; 
    gap: 20px;
}

.top-button{
    padding: 10px 20px; 
    background-color: rgb(241, 241, 241);
    border: none; 
    color: black; 
    border-radius: 5px;
    cursor: pointer;
}

.login-container {
position: relative;
display: inline-block;
    }

.dropdown {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      min-width: 160px;
      z-index: 1;
    }

    .dropdown a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #333;
    }

    .dropdown a:hover {
      background-color: #f0f0f0;
    }

    .login-container:hover .dropdown {
      display: block;
    }





.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left:40px;
    height: 80vh;
    gap: 20px;
}

.main-buttons{
    padding: 12px 24px;
    background: hsla(40, 94%, 74%, 1);
    border: none;
    cursor:pointer;
    
    background: linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FBD07C", endColorstr="#F7F779", GradientType=1 );
    border-radius: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    width: 100%;
    background: hsla(332, 53%, 82%, 1);

    background: linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(332, 53%, 82%, 1) 0%, hsla(176, 57%, 89%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E9B7CE", endColorstr="#D3F3F1", GradientType=1 );
    background-repeat: no-repeat;
    background-attachment: fixed; /* keeps background stationary during scroll */
    background-size: cover;
}


    main{
        min-height: 800px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: hsla(312, 77%, 86%, 1);

background: linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7C0EC", endColorstr="#A7BDEA", GradientType=1 );
        
    }

    #footer-para
    {
        padding: 5px;
    }
    #copyright-text
    {
        padding: 5px;
    }