*{
    margin:0px;
}
body{
    
    background-color: #e5fcf5;
    
}

main{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content:center;
}

#header{
 height: 80px;
 background-color: #000080;
 color:white;
 display:flex;

}


#webname{
    font-size: 35px;
}


#text{
    font-size: 40px;
    font-weight: 700px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
}


.login{
    margin-top:50px;
    height: 400px;
    width: 350px;
    display:flex;
    flex-direction: column;

   
 
    border-radius: 10px;
    margin-bottom: 0px;
    
    justify-content:  space-around;
    
    align-content: center;
    
     flex-wrap: wrap;
     padding: none;

    background-color: white;
    
}




   

.buttons{
    
     border-radius: 10px;
     height:25px;
    width: 200px;
    border-width: 0.5px;
    text-align: center;
    
}
.buttons:hover{
      transition-property: all;
    transition-duration: 50ms;
    transform: scale(1.007);

}



#submit{
    justify-content: center;
    background-color:white;
    border-radius: 5px;
    height: 40px;
    
}
#submit:hover{
     transition-property: all;
    transition-duration: 50ms;
    transform: scale(1.01);
    border-color: white;

}
#submit:active{
    background-color:rgb(118, 116, 116);
}