.container{
    display: flex;
    flex:wrap;
    outline-style: solid;
    outline-color: grey;
    width:15px;
    height: 50px;
    justify-content: center;
    align-content:center;
    align-items: center;
}

.navigationbar {
    background-color: #b9bfc4;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20;
}